# cities_aqi_preprocess

In [97]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cities_20160101-20161231/china_cities_20160101.csv')
df

,date,hour,type,北京,天津,石家庄,唐山,秦皇岛,邯郸,保定,...,阿克苏地区,克州,喀什地区,和田地区,伊犁哈萨克州,塔城地区,阿勒泰地区,石河子,五家渠,三沙
0,20160101,0,AQI,221.00,219.00,22.00,64.00,89.00,29.00,76.00,...,249.00,134.00,264.00,84.00,63.00,55.00,39.00,105.00,228.00,NaN
1,20160101,0,PM2.5,171.00,169.00,NaN,NaN,66.00,NaN,NaN,...,199.00,102.00,214.00,59.00,45.00,39.00,27.00,79.00,178.00,NaN
2,20160101,0,PM2.5_24h,66.00,136.00,121.00,189.00,63.00,111.00,301.00,...,101.00,103.00,226.00,75.00,45.00,23.00,23.00,96.00,182.00,NaN
3,20160101,0,PM10,199.00,202.00,NaN,NaN,92.00,NaN,NaN,...,219.00,172.00,248.00,118.00,46.00,NaN,NaN,113.00,201.00,NaN
4,20160101,0,PM10_24h,128.00,200.00,190.00,240.00,106.00,184.00,392.00,...,117.00,157.00,248.00,119.00,55.00,33.00,20.00,187.00,211.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,20160101,23,O3_24h,18.00,23.00,9.00,28.00,16.00,30.00,22.00,...,86.00,79.00,51.00,65.00,50.00,90.00,81.00,39.00,48.00,NaN
356,20160101,23,O3_8h,8.00,6.00,5.00,8.00,9.00,11.00,9.00,...,50.00,49.00,31.00,42.00,34.00,82.00,55.00,14.00,30.00,NaN
357,20160101,23,O3_8h_24h,12.00,16.00,7.00,17.00,12.00,36.00,12.00,...,55.00,52.00,32.00,48.00,41.00,82.00,66.00,25.00,32.00,NaN
358,20160101,23,CO,5.15,2.72,6.74,3.98,4.62,3.02,8.68,...,5.60,1.23,3.49,1.50,2.64,0.55,0.62,2.38,1.66,NaN
359,20160101,23,CO_24h,3.33,1.74,4.76,3.42,3.60,2.14,5.85,...,4.16,1.25,3.63,1.37,4.01,1.19,0.96,1.78,1.70,NaN

In [14]:
data = df[df['type']=='PM2.5']
data

,date,hour,type,北京,天津,石家庄,唐山,秦皇岛,邯郸,保定,...,阿克苏地区,克州,喀什地区,和田地区,伊犁哈萨克州,塔城地区,阿勒泰地区,石河子,五家渠,三沙
1,20160101,0,PM2.5,171.0,169.0,NaN,NaN,66.0,NaN,NaN,...,199.0,102.0,214.0,59.0,45.0,39.0,27.0,79.0,178.0,NaN
16,20160101,1,PM2.5,167.0,161.0,127.0,279.0,83.0,100.0,301.0,...,198.0,102.0,313.0,78.0,62.0,33.0,19.0,71.0,181.0,NaN
31,20160101,2,PM2.5,158.0,150.0,141.0,261.0,84.0,104.0,321.0,...,172.0,122.0,338.0,74.0,55.0,39.0,9.0,69.0,166.0,NaN
46,20160101,3,PM2.5,147.0,137.0,139.0,198.0,87.0,92.0,303.0,...,156.0,107.0,333.0,94.0,48.0,49.0,20.0,67.0,129.0,NaN
61,20160101,4,PM2.5,134.0,126.0,139.0,162.0,84.0,84.0,211.0,...,127.0,92.0,280.0,62.0,61.0,60.0,12.0,63.0,111.0,NaN
76,20160101,5,PM2.5,115.0,130.0,143.0,160.0,76.0,65.0,190.0,...,112.0,93.0,251.0,42.0,73.0,50.0,9.0,66.0,108.0,NaN
91,20160101,6,PM2.5,105.0,127.0,144.0,156.0,74.0,71.0,177.0,...,123.0,102.0,202.0,28.0,83.0,41.0,6.0,74.0,109.0,NaN
106,20160101,7,PM2.5,102.0,127.0,149.0,144.0,91.0,68.0,158.0,...,127.0,97.0,175.0,23.0,67.0,29.0,4.0,73.0,114.0,NaN
121,20160101,8,PM2.5,104.0,128.0,192.0,149.0,102.0,75.0,148.0,...,126.0,81.0,141.0,18.0,69.0,33.0,6.0,75.0,153.0,NaN
136,20160101,9,PM2.5,107.0,128.0,203.0,164.0,103.0,70.0,144.0,...,118.0,65.0,145.0,28.0,71.0,37.0,8.0,84.0,132.0,NaN
151,20160101,10,PM2.5,115.0,138.0,232.0,157.0,106.0,87.0,144.0,...,109.0,77.0,168.0,49.0,74.0,42.0,12.0,87.0,134.0,NaN
166,20160101,11,PM2.5,122.0,147.0,253.0,156.0,130.0,102.0,138.0,...,138.0,90.0,229.0,80.0,77.0,37.0,7.0,87.0,167.0,NaN
181,20160101,12,PM2.5,134.0,153.0,286.0,163.0,141.0,109.0,129.0,...,217.0,81.0,289.0,66.0,94.0,43.0,10.0,89.0,211.0,NaN
196,20160101,13,PM2.5,148.0,148.0,325.0,167.0,133.0,122.0,145.0,...,321.0,87.0,333.0,104.0,81.0,60.0,17.0,58.0,228.0,NaN
211,20160101,14,PM2.5,167.0,158.0,366.0,168.0,141.0,127.0,162.0,...,216.0,101.0,271.0,108.0,62.0,38.0,11.0,118.0,205.0,NaN
226,20160101,15,PM2.5,178.0,191.0,388.0,196.0,150.0,130.0,190.0,...,148.0,89.0,329.0,75.0,91.0,38.0,8.0,147.0,165.0,NaN
241,20160101,16,PM2.5,186.0,194.0,361.0,225.0,166.0,146.0,209.0,...,108.0,94.0,239.0,51.0,109.0,45.0,5.0,144.0,134.0,NaN
256,20160101,17,PM2.5,192.0,202.0,327.0,239.0,182.0,161.0,246.0,...,96.0,116.0,228.0,27.0,84.0,33.0,7.0,143.0,112.0,NaN
271,20160101,18,PM2.5,219.0,221.0,401.0,262.0,183.0,160.0,286.0,...,80.0,110.0,195.0,25.0,63.0,24.0,9.0,132.0,93.0,NaN
286,20160101,19,PM2.5,246.0,232.0,443.0,273.0,190.0,179.0,314.0,...,95.0,135.0,189.0,40.0,47.0,32.0,7.0,120.0,100.0,NaN
301,20160101,20,PM2.5,262.0,243.0,502.0,258.0,200.0,182.0,310.0,...,93.0,119.0,189.0,62.0,47.0,41.0,5.0,118.0,130.0,NaN
316,20160101,21,PM2.5,279.0,256.0,499.0,244.0,188.0,180.0,340.0,...,114.0,106.0,193.0,69.0,52.0,37.0,42.0,126.0,106.0,NaN
331,20160101,22,PM2.5,270.0,262.0,464.0,266.0,191.0,163.0,378.0,...,133.0,105.0,218.0,93.0,62.0,34.0,38.0,131.0,103.0,NaN
346,20160101,23,PM2.5,275.0,268.0,451.0,283.0,198.0,168.0,408.0,...,179.0,98.0,185.0,106.0,59.0,45.0,22.0,130.0,97.0,NaN

In [37]:
cities = pd.DataFrame(data.columns)
cities = cities.rename(columns={0: "station name"})

In [72]:
cities[cities['station name'] == '重庆']

   station name
67           重庆

In [73]:
cities

    station name
0           date
1           hour
2           type
3             北京
4             天津
..           ...
365         塔城地区
366        阿勒泰地区
367          石河子
368          五家渠
369           三沙

[370 rows x 1 columns]

In [74]:
weathers = pd.read_csv('name-city-english.csv')

In [75]:
weathers = weathers.drop(columns=['Unnamed: 0', 'Unknown'])

In [76]:
weathers[weathers['station name']=='上海']

,province,station_id,station name,"latitude (', '')","longitude (', "")",Elevation (m),Year,CityEN
242,上海,583670,上海,3112,12126.0,8.6,2016,NaN

In [167]:
aqi_weather = pd.merge(cities, weathers, how = 'inner', on = ['station name'])

In [127]:
aqi_weather['CityEN']

0             NaN
1             NaN
2        Tangshan
3         Baoding
4     Zhangjiakou
         ...
92       Hanzhong
93          Yulin
94         Ankang
95        Zhangye
96        Jiuquan
Name: CityEN, Length: 97, dtype: object

In [129]:
np.isnan(aqi_weather['CityEN'][0])

True

In [183]:
work_df = aqi_weather.copy()

In [169]:
work_df

,station name,province,station_id,"latitude (', '')","longitude (', "")",Elevation (m),Year,CityEN
0,北京,北京,545110,3948,11628.0,32.5,2016,NaN
1,天津,天津,545270,3905,11703.0,4.3,2016,NaN
2,唐山,河北,545340,3939,11806.0,24.5,2016,Tangshan
3,保定,河北,546020,3844,11529.0,17.9,2016,Baoding
4,张家口,河北,544010,4046,11455.0,774.1,2016,Zhangjiakou
...,...,...,...,...,...,...,...,...
92,汉中,陕西,571270,3304,10702.0,510.7,2016,Hanzhong
93,榆林,陕西,536460,3816,10947.0,1157.8,2016,Yulin
94,安康,陕西,572450,3243,10902.0,291.7,2016,Ankang
95,张掖,甘肃,526520,3905,10017.0,1462.3,2016,Zhangye
96,酒泉,甘肃,525330,3946,9829.0,1478.4,2016,Jiuquan

In [184]:
work_df = work_df.rename(columns = {'CityEN': 'city'})

In [185]:
work_df

,station name,province,station_id,"latitude (', '')","longitude (', "")",Elevation (m),Year,city
0,北京,北京,545110,3948,11628.0,32.5,2016,NaN
1,天津,天津,545270,3905,11703.0,4.3,2016,NaN
2,唐山,河北,545340,3939,11806.0,24.5,2016,Tangshan
3,保定,河北,546020,3844,11529.0,17.9,2016,Baoding
4,张家口,河北,544010,4046,11455.0,774.1,2016,Zhangjiakou
...,...,...,...,...,...,...,...,...
92,汉中,陕西,571270,3304,10702.0,510.7,2016,Hanzhong
93,榆林,陕西,536460,3816,10947.0,1157.8,2016,Yulin
94,安康,陕西,572450,3243,10902.0,291.7,2016,Ankang
95,张掖,甘肃,526520,3905,10017.0,1462.3,2016,Zhangye
96,酒泉,甘肃,525330,3946,9829.0,1478.4,2016,Jiuquan

In [186]:
work_df['city'] = work_df['city'].fillna(work_df['station name'])

In [187]:
work_df

,station name,province,station_id,"latitude (', '')","longitude (', "")",Elevation (m),Year,city
0,北京,北京,545110,3948,11628.0,32.5,2016,北京
1,天津,天津,545270,3905,11703.0,4.3,2016,天津
2,唐山,河北,545340,3939,11806.0,24.5,2016,Tangshan
3,保定,河北,546020,3844,11529.0,17.9,2016,Baoding
4,张家口,河北,544010,4046,11455.0,774.1,2016,Zhangjiakou
...,...,...,...,...,...,...,...,...
92,汉中,陕西,571270,3304,10702.0,510.7,2016,Hanzhong
93,榆林,陕西,536460,3816,10947.0,1157.8,2016,Yulin
94,安康,陕西,572450,3243,10902.0,291.7,2016,Ankang
95,张掖,甘肃,526520,3905,10017.0,1462.3,2016,Zhangye
96,酒泉,甘肃,525330,3946,9829.0,1478.4,2016,Jiuquan

In [84]:
aqi_weather[aqi_weather['CityEN'].isnull() == True]

,station name,province,station_id,"latitude (', '')","longitude (', "")",Elevation (m),Year,CityEN
0,北京,北京,545110,3948,11628.0,32.5,2016,NaN
1,天津,天津,545270,3905,11703.0,4.3,2016,NaN
13,上海,上海,583670,3112,12126.0,8.6,2016,NaN
32,重庆,重庆,575160,2935,10628.0,259.6,2016,NaN
62,库尔勒,新疆,516560,4145,8608.0,932.5,2016,NaN
63,溧阳,江苏,583450,3126,11929.0,8.1,2016,NaN

In [188]:
city_map = {'北京': 'Beijing', '天津':'Tianjin', '上海': 'Shanghai', '重庆':'Chongqing', '库尔勒':'Kuerle', '溧阳':'Liyang'}

In [189]:
work_df['city'] = work_df['city'].replace(city_map)

In [190]:
work_df

,station name,province,station_id,"latitude (', '')","longitude (', "")",Elevation (m),Year,city
0,北京,北京,545110,3948,11628.0,32.5,2016,Beijing
1,天津,天津,545270,3905,11703.0,4.3,2016,Tianjin
2,唐山,河北,545340,3939,11806.0,24.5,2016,Tangshan
3,保定,河北,546020,3844,11529.0,17.9,2016,Baoding
4,张家口,河北,544010,4046,11455.0,774.1,2016,Zhangjiakou
...,...,...,...,...,...,...,...,...
92,汉中,陕西,571270,3304,10702.0,510.7,2016,Hanzhong
93,榆林,陕西,536460,3816,10947.0,1157.8,2016,Yulin
94,安康,陕西,572450,3243,10902.0,291.7,2016,Ankang
95,张掖,甘肃,526520,3905,10017.0,1462.3,2016,Zhangye
96,酒泉,甘肃,525330,3946,9829.0,1478.4,2016,Jiuquan

In [192]:
work_df.set_index('city', inplace=True)

In [194]:
work_df.drop(columns=['Year'], inplace = True)

In [195]:
work_df

,station name,province,station_id,"latitude (', '')","longitude (', "")",Elevation (m)
city,,,,,,
Beijing,北京,北京,545110,3948,11628.0,32.5
Tianjin,天津,天津,545270,3905,11703.0,4.3
Tangshan,唐山,河北,545340,3939,11806.0,24.5
Baoding,保定,河北,546020,3844,11529.0,17.9
Zhangjiakou,张家口,河北,544010,4046,11455.0,774.1
...,...,...,...,...,...,...
Hanzhong,汉中,陕西,571270,3304,10702.0,510.7
Yulin,榆林,陕西,536460,3816,10947.0,1157.8
Ankang,安康,陕西,572450,3243,10902.0,291.7
Zhangye,张掖,甘肃,526520,3905,10017.0,1462.3
Jiuquan,酒泉,甘肃,525330,3946,9829.0,1478.4

In [196]:
work_df.to_csv('work_station_data.csv')