In [1]:
import pandas as pd
import numpy as np

In [2]:
data_1 = pd.read_csv('weather_station_geo.csv')

In [3]:
data_1.head()

,province,station_id,station name,"latitude (', '')","longitude (', "")",Elevation (m)
0,安徽,580150,砀山,3427,11620.0,45.4
1,安徽,580160,萧县,3411,11658.0,35.9
2,安徽,581020,亳州,3352,11546.0,39.2
3,安徽,581070,临泉,3301,11517.0,37.0
4,安徽,581080,界首,3314,11520.0,35.0

In [ ]:
# data_1['station name'].replace(',','-', inplace=True)

In [ ]:
data_1[]

In [14]:
data_1[data_1['province']=='香港']

Empty DataFrame
Columns: [province, station_id, station name, latitude (', ''), longitude (', "), Elevation (m)]
Index: []

In [9]:
data_1.at[2156,'station name'] = '重庆'

In [12]:
data_1.at[1703,'station name'] = '上海'

In [15]:
data_1.shape

(2170, 6)

In [16]:
data_2 = pd.read_csv('weather_station_id.csv')

In [17]:
data_2.head()

   Unnamed: 0  station_id  Unknown  Year
0           0      450070    99999  2016
1           1      450110    99999  2016
2           2      450320    99999  2016
3           3      450350    99999  2016
4           4      450390    99999  2016

In [18]:
right_merged = pd.merge(data_1, data_2, how="inner", on=["station_id"])

In [19]:
right_merged.head()

,province,station_id,station name,"latitude (', '')","longitude (', "")",Elevation (m),Unnamed: 0,Unknown,Year
0,安徽,581020,亳州,3352,11546.0,39.2,323,99999,2016
1,安徽,582030,阜阳,3252,11544.0,33.9,326,99999,2016
2,安徽,582210,蚌埠,3251,11718.0,28.0,328,99999,2016
3,安徽,583140,霍山,3124,11619.0,87.6,333,99999,2016
4,安徽,583210,合肥,3147,11718.0,28.2,334,99999,2016

In [20]:
right_merged.shape

(319, 9)

In [21]:
data_3 = pd.read_csv('china city name in English list.csv')

In [22]:
data_3.head()

   ProvID ProvCN   ProvEN  CityID CityCN       CityEN AreaCode  Postcode Plate
0    10.0     北京  Beijing    1001     东城    Dongcheng      010    100010     京
1     NaN    NaN      NaN    1002     西城      Xicheng      010    100032     京
2     NaN    NaN      NaN    1003     朝阳     Chaoyang      010    100020     京
3     NaN    NaN      NaN    1004     丰台      Fengtai      010    100071     京
4     NaN    NaN      NaN    1005    石景山  Shijingshan      010    100043     京

In [23]:
data_4 = data_3.drop(['ProvID','ProvCN','ProvEN','CityID','AreaCode','Postcode','Plate'],axis=1)

In [24]:
data_4 = data_4.rename(columns={'CityCN': 'station name'})

In [25]:
data_4.head()

  station name       CityEN
0           东城    Dongcheng
1           西城      Xicheng
2           朝阳     Chaoyang
3           丰台      Fengtai
4          石景山  Shijingshan

In [26]:
df = pd.merge(right_merged, data_4, how = 'left', on=['station name'])

In [27]:
df

,province,station_id,station name,"latitude (', '')","longitude (', "")",Elevation (m),Unnamed: 0,Unknown,Year,CityEN
0,安徽,581020,亳州,3352,11546.0,39.2,323,99999,2016,Bozhou
1,安徽,582030,阜阳,3252,11544.0,33.9,326,99999,2016,Fuyang
2,安徽,582210,蚌埠,3251,11718.0,28.0,328,99999,2016,Bangbu
3,安徽,583140,霍山,3124,11619.0,87.6,333,99999,2016,NaN
4,安徽,583210,合肥,3147,11718.0,28.2,334,99999,2016,Hefei
5,安徽,583380,芜湖县,3109,11835.0,18.3,336,99999,2016,NaN
6,安徽,584370,黄山,3008,11809.0,1841.4,341,99999,2016,Huangshan
7,北京,545110,北京,3948,11628.0,32.5,168,99999,2016,NaN
8,福建,587250,邵武,2720,11728.0,218.9,355,99999,2016,NaN
9,福建,587300,武夷山,2746,11802.0,223.1,356,99999,2016,NaN
10,福建,587310,浦城,2755,11832.0,277.9,357,99999,2016,NaN
11,福建,587540,福鼎,2720,12012.0,37.0,359,99999,2016,NaN
12,福建,588470,福州,2605,11917.0,84.8,362,99999,2016,Fuzhou
13,福建,589110,长汀,2551,11622.0,311.2,363,99999,2016,NaN
14,福建,589260,漳平,2518,11725.0,206.5,365,99999,2016,NaN
15,福建,589310,九仙山,2543,11806.0,1654.6,366,99999,2016,NaN
16,福建,589440,平潭,2531,11947.0,33.4,367,99999,2016,Pingtan
17,福建,591340,厦门,2429,11804.0,140.6,380,99999,2016,Xiamen
18,甘肃,523230,马鬃山,4148,9702.0,1771.6,71,99999,2016,NaN
19,甘肃,525330,酒泉,3946,9829.0,1478.4,76,99999,2016,Jiuquan
20,甘肃,526520,张掖,3905,10017.0,1462.3,79,99999,2016,Zhangye
21,甘肃,526810,民勤,3838,10305.0,1368.7,80,99999,2016,NaN
22,甘肃,527870,乌鞘岭,3712,10252.0,3046.3,84,99999,2016,NaN
23,甘肃,529830,榆中,3552,10409.0,1875.6,92,99999,2016,NaN
24,甘肃,529960,华家岭,3523,10501.0,2451.8,93,99999,2016,NaN
25,甘肃,539150,崆峒,3533,10640.0,1347.8,127,99999,2016,NaN
26,甘肃,539230,西峰,3544,10738.0,1422.2,128,99999,2016,NaN
27,甘肃,560800,合作,3500,10254.0,2911.2,210,99999,2016,NaN
28,甘肃,560960,武都,3324,10455.0,1080.3,211,99999,2016,NaN
29,甘肃,570140,麦积,3434,10552.0,1086.4,259,99999,2016,NaN
...,...,...,...,...,...,...,...,...,...,...
290,新疆,522030,哈密,4249,9331.0,738.3,69,99999,2016,Hami
291,云南,564440,德钦,2829,9855.0,3320.8,231,99999,2016,NaN
292,云南,565860,昭通,2721,10343.0,1950.0,236,99999,2016,Zhaotong
293,云南,566510,丽江,2651,10013.0,2382.1,237,99999,2016,Lijiang
294,云南,566840,会泽,2624,10315.0,2189.3,239,99999,2016,NaN
295,云南,567390,腾冲,2459,9830.0,1696.9,241,99999,2016,NaN
296,云南,567480,保山,2507,9911.0,1651.2,242,99999,2016,Baoshan
297,云南,567510,大理,2542,10011.0,1991.6,243,99999,2016,Dali
298,云南,567780,昆明,2500,10239.0,1889.1,246,99999,2016,Kunming
299,云南,568860,泸西,2432,10346.0,1705.5,249,99999,2016,NaN
300,云南,569460,耿马,2333,9924.0,1104.8,250,99999,2016,NaN
301,云南,569510,临沧,2353,10005.0,1502.6,251,99999,2016,Lincang
302,云南,569540,澜沧,2234,9956.0,1054.4,252,99999,2016,NaN
303,云南,569640,思茅,2247,10058.0,1302.9,254,99999,2016,NaN
304,云南,569660,元江,2336,10159.0,401.6,255,99999,2016,NaN
305,云南,569690,勐腊,2128,10135.0,634.4,256,99999,2016,NaN
306,云南,569770,江城,2235,10151.0,1121.0,257,99999,2016,NaN
307,云南,590070,广南,2404,10504.0,1251.4,370,99999,2016,NaN
308,浙江,584570,杭州,3014,12010.0,42.6,342,99999,2016,Hangzhou
309,浙江,584720,嵊泗,3044,12227.0,73.9,343,99999,2016,NaN
310,浙江,584770,定海,3002,12206.0,36.7,344,99999,2016,NaN
311,浙江,585430,淳安,2937,11901.0,172.6,347,99999,2016,NaN
312,浙江,585560,嵊州,2936,12049.0,103.8,348,99999,2016,NaN
313,浙江,585690,石浦,2912,12157.0,129.2,349,99999,2016,NaN
314,浙江,586460,丽水,2827,11955.0,59.6,352,99999,2016,Lishui
315,浙江,586660,大陈,2827,12154.0,84.4,353,99999,2016,NaN
316,浙江,587520,瑞安,2747,12039.0,37.9,358,99999,2016,NaN
317,重庆,573480,奉节,3101,10932.0,300.3,280,99999,2016,Fengjie
318,重庆,575160,重庆,2935,10628.0,259.6,291,99999,2016,NaN
319,重庆,576330,酉阳,2849,10846.0,827.7,296,99999,2016,Youyang

In [28]:
df['CityEN'].isnull().sum()

213

In [29]:
df.to_csv(r'/Users/bzhang/code/accurateair_project/accurateair/lists/station_attribute.csv', index = False)